.alert.alert-info.alert-dismissible.fade.in(role='alert', hidden='true')
    button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') ×
    |     Adding 
    span#alDomain
    |  to the 
    span#alList
    | ...
.alert.alert-success.alert-dismissible.fade.in(role='alert', hidden='true')
    button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') ×
    |     Success!
.alert.alert-danger.alert-dismissible.fade.in(role='alert', hidden='true')
    button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') ×
    |     Failure! Something went wrong.
alert(*ngIf="alertVisible",[type]="statusType",dismissible="true",(onClosed)="alertClosed($event)",dismissOnTimeout="5000")
.row
    .col-md-12
        .box.box-solid
            .box-header.with-border
                h3.box-title Recent Queries
            .box-body
                .table-responsive
                    table.display.table.table-striped.table-bordered(cellspacing='0', width='100%',queries-table=true,[rows]="data")
            .overlay(*ngIf="isLoading")
                i.fa.fa-refresh.fa-spin