.box
    .box-header.with-border
        h3.box-title {{title}}
    .box-body
        .chart
            canvas(baseChart,[data]="chartData",[labels]="chartLabels",[options]="chartOptions",[colors]="chartColors",[chartType]="chartType",width="800", height="250")
    .overlay(*ngIf="isLoading")
        i.fa.fa-refresh.fa-spin