a(href="",(click)="toggle()")
	i.fa(class="{{menuitem.icon}}")
	span {{menuitem.title}}
	span.pull-right-container
		i.fa.pull-right([ngClass]="{'fa-angle-left':!isOpen,'fa-angle-down':isOpen}")
ul.treeview-menu(sidebar-menu-tree-subparent=true,[menuItems]="menuitem.children",[ngClass]="{'menu-open':isOpen}",*ngIf="isOpen",style="display:block;overflow:hidden;")