// JS Warning
div
	link(rel='stylesheet', type='text/css', href='/static/style/vendor/js-warn.css')
	input#js-hide(type='checkbox')
	#js-warn-exit.js-warn
		h1 Javascript Is Disabled
		p Javascript seems to be disabled. This will break some site features.
		p
			| To enable Javascript click 
			a(href='http://www.enable-javascript.com/', target='_blank') here
		label(for='js-hide') Close
// JS Warning