ng-container(*ngIf="isUnknownList")
    .row
        .col-md-12
            .callout.callout-warning
                h4 The list type you were asking for is unknown
                p
                    | Choose one of the list types below
        .row
        .col-lg-3.col-md-6.col-xs-12
            a(routerLink="list",queryParams="{l:'white'}")
                .small-box.bg-green
                    .inner
                        h3 Whitelist
                        p Domains Being Whitelisted
                    .icon
                        i.fa.fa-pencil-square-o
        .col-lg-3.col-md-6.col-xs-12
            a(routerLink="list",queryParams="{l:'black'}")
                .small-box.bg-red
                    .inner
                        h3 Blacklist
                            p Domains Being Blocked
                    .icon
                        i.fa.fa-ban
ng-container(*ngIf="!isUnknownList")
    .page-header
        h1 {{listTitle}}
    // Domain Input
    .form-group.input-group
        input.form-control(type='text', placeholder='Add a domain (example.com or sub.example.com)',[value]="domain")
        span.input-group-btn
            button.btn.btn-default(type='button',(click)="addDomain()", [disabled]="isRequesting")
                i.fa.fa-plus
            button.btn.btn-default(type='button',(click)="refreshList()", [disabled]="isRequesting")
                i.fa.fa-refresh([ngClass]="{'fa-spin':isRequesting}")
    // Alerts
    alert(*ngIf="alertVisible",[type]="statusType",dismissible="true",(onClosed)="alertClosed($event)",dismissOnTimeout="5000")
    // Domain List
    ul.list-group(*ngIf="domainList.length>0")
        li.list-group-item.clearfix(*ngFor="let domainEntry of domainList") {{domainEntry.domain}}
            button.btn.btn-danger.btn-xs.pull-right(type='button',(click)="remove(domainEntry)")
                span.glyphicon.glyphicon-trash

    p(*ngIf="domainList.length==0")
    |   No Domains are listed 
