.page-header
    h1 {{listTitle}}
// Alerts
alert(*ngIf="error",[type]="statusType",dismissible="true",(onClosed)="alertClosed($event)",dismissOnTimeout="5000")
// Domain input form
domain-input
// Domain list
domain-list
