.wrapper
	header.main-header
		pihole-headbar
	// Left side column. contains the logo and sidebar
	aside.main-sidebar
		pihole-sidebar
	// Content Wrapper. Contains page content
	.content-wrapper
	footer.main-footer
		//pihole-footbar
		// ./wrapper
		//script(src='/static/vendor/jquery/dist/jquery.min.js')
		//script(src='/static/vendor/datatables.net/js/jQuery.dataTables.min.js')
		//script(src='/static/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js')
		//script(src='/static/vendor/jquery-ui.min.js')
		//script(src='/static/vendor/bootstrap/dist/js/bootstrap.min.js')
		//script(src='/static/vendor/moment/min/moment.min.js')
		//script(src='/static/vendor/chart.js/dist/Chart.min.js')
		//script(src='/static/vendor/compare-versions/index.js')
		//script(src='/static/vendor/angular/angular.min.js')
		//script(src='/static/vendor/angular-datatables/dist/angular-datatables.min.js')
		//script(src='/static/vendor/angular-route/angular-route.min.js')
		//script(src='/static/vendor/angular-chart.js/dist/angular-chart.min.js')
		//script(src='/static/vendor/angular-jwt/dist/angular-jwt.min.js')
		//script(src='/static/vendor/angular-moment/angular-moment.min.js')
		//script(src='/static/scripts/vendor/app.min.js')
		//script(src='/static/scripts/vendor/dataTables.bootstrap.min.js')
		//script(src='/static/scripts/pi-hole/js/pihole.js')
		//script(src='/static/scripts/pi-hole/js/taillogWatcher.js')
		//script(src='/static/scripts/pi-hole/js/footer.js')
		
		//script(src='/static/scripts/pi-hole/PiholeApp.min.js')
		//script(src='/static/scripts/pi-hole/services.min.js')
		//script(src='/static/scripts/pi-hole/components.min.js')
		//block bodyEnd