// sidebar: style can be found in sidebar.less
section.sidebar
	// Sidebar user panel
	pihole-sidebar-status
	// sidebar menu: : style can be found in sidebar.less
	ul.sidebar-menu(pihole-sidebar-menu=true,[menuItems]="menuItems",isParent=true)
